# Data and Database files
data/
*.db

# Python caches
__pycache__/
.ipynb_checkpoints/
*.pyc

# Virtual environments
.env
venv/
env/

# Private/Excluded files
INTERVIEW_QUESTIONS.md
powerbi/dashboard_instructions.md
